/*--------------- BODY ---------------*/
body {
  background-color: #ffc13b;
  font-family: "SF Pro";
}

h1 {
  color: #ee344a;
  margin: 1em;
}

.value-one a {
  text-decoration: none;
  color: #3ad85b
}

.value-two a {
  text-decoration: none;
  color: #2ad8e7
}

.value-three a {
  text-decoration: none;
  color: #ff6e40;
}

.surligne {
  font-weight: bolder;
  color: #ff6e40;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.wrapper div {
  flex: 50%;
}

/*--------------- ME ---------------*/
.wrapper #me {
  background-color: #f5f0e1;
  text-align: center;
  border-top: solid 1em white;
  border-left: solid 1em white;
  border-bottom: solid 1em white;
}

#photoprofil {
  margin-top: 2em;
  width: 30%;
  height: auto;
}

#presentation {
  margin: 1rem 3rem;
  font-size: 90%;
  color: #1e3d59;
  font-weight: 600;
  text-align: justify;
  line-height: 2em;
}

#presentation a {
  text-decoration: none;
  color: black;
}

/*--------------- MY SKILLS ---------------*/
.wrapper #skills {
  font-family: "Fira Code";
  font-size: 90%;
  background-color: #1e3d59;
  border-top: solid 1em #0f2a3e;
  border-right: solid 1em #0f2a3e;
  border-bottom: solid 1em #0f2a3e;
  overflow: scroll;
}

.code-line {
  counter-increment: lines;
  display: block;
  padding-top: 0.4em;
  padding-left: 1em;

}

.code-line::before {
  text-align: right;
  min-width: 1em;
  display: inline-block;
  content: " "counter(lines);
  color: #305889;
  margin-right: 0.5em;
}

.code-line::after {
  content: "¬";
  color: #305889;
}

.normaly-invisible {
  color: #305889;
}

.ponctuation {
  color: #6499e7;
}

.var-name {
  color: #ee344a
}

.value-one {
  color: #3ad85b
}

.value-two {
  color: #2ad8e7
}

.value-three {
  color: #ff6e40;
}

/*--------------- RESPONSIVE ---------------*/

/* For desktop: */
@media screen and (max-width: 64em) {
  .wrapper {
    flex-direction: row;
  }
}

/* For tablets: */
@media screen and (max-width: 50em) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper #me {
    border-top: solid 1em white;
    border-left: solid 1em white;
    border-right: solid 1em white;
    border-bottom: none;
  }
  .wrapper #skills {
    border-left: solid 1em #0f2a3e;
    border-right: solid 1em #0f2a3e;
    border-bottom: solid 1em #0f2a3e;
    border-top: none;
  }

  .code-like {
    margin-top: 1em;
  }
}

/* For phones: */
@media screen and (max-width: 30em){
  .wrapper {
    flex-direction: column;
  }
  .wrapper #me {
    border-top: solid 1em white;
    border-left: solid 1em white;
    border-right: solid 1em white;
    border-bottom: none;
  }
  .wrapper #skills {
    border-left: solid 1em #0f2a3e;
    border-right: solid 1em #0f2a3e;
    border-bottom: solid 1em #0f2a3e;
    border-top: none;
  }
  .code-like {
    margin-top: 1em;
  }

}